


/******************************/
/*** WP Admin Menu ************/
/******************************/

#adminmenu a.menu-top {
	font-size: 13px;
}

#adminmenu .wp-submenu a {
	font-size: 12px;
}

#adminmenu li.wp-menu-separator{
	background-color: #26292c;
	height: 2px;
	margin: 0px;
}


/******************************/
/*** Advanced Custom Fields ***/
/******************************/

.toplevel_page_scm-main-settings .acf-tab-wrap {
	width: 150px;
	position: absolute;
	left: 0px;
	padding: 0px;
	border: 0px;
}

.toplevel_page_scm-main-settings .acf-tab-wrap > .acf-tab-group{
	padding: 0px !important;
	border: 0px !important;
}

.toplevel_page_scm-main-settings .acf-tab-wrap > .acf-tab-group li{
	width: 100%;
}

.toplevel_page_scm-main-settings .acf-tab-wrap > .acf-tab-group li:last-child a {
	border-bottom: 1px solid #ccc;
}

.toplevel_page_scm-main-settings #post-body-content .acf-postbox > .inside{
	padding-left: 150px !important;
}


/******************************/
/*** Advanced Custom Fields ***/
/******************************/

.acf-field{
	max-width: 1920px;
	padding: 20px 12px 20px !important;
}

.acf-fields > .acf-field:first-child {
	border-top-width: 1px;
}



/*** ACF Description ***/

.acf-label p.description {
	line-height: 1.6em;
	font-size: 1em;
	padding: 10px 0px 20px !important;
}

/*** ACF Message ***/

.acf-field.field_type-message {
	background-color: #f4f4f4;
}

.acf-field.field_type-message:first-child {
	border-top: 0px !important;
}

.acf-field.field_type-message .acf-label{
	margin: 0px !important;
}

.acf-field.field_type-message .acf-label label{
	margin: 0px;
	padding: 5px 0px;
}


/*** ACF Flexible Content ***/

/* submit button */

.acf-flexible-content .acf-hl:before{
	clear: both;
}

.acf-flexible-content .acf-hl > .acf-fr {
	float: none;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.acf-flexible-content .acf-hl > .acf-fr > a{
	display: block;
	width: 100%;
	text-align: center;
}

/* flexible_columns */

.acf-field[data-name="flexible_columns"] .acf-label{
	display: none;
}

.acf-field[data-name="flexible_columns"] .acf-flexible-content > .values{
	margin: 0px;
}

.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0px !important;
	float: left;
}

.acf-flexible-content .layout .acf-fc-layout-handle{
	border: 0;
	z-index: 997;
}

.acf-flexible-content .layout .acf-fc-layout-controlls{
	z-index: 998;
}

.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout table{
	border-top: 1px solid #dfdfdf !important;
	position: relative;
	z-index: 999;
}

.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout table,
.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout table tbody,
.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout table tbody tr,
.acf-field[data-name="flexible_columns"] .acf-flexible-content .layout table tbody tr td{
	margin: 0px;
	padding: 0px;
	/*display: block;*/
	width: 100%;
}

/*** ACF Columns Repeater ***/

.post-type-scm-sections div[data-name="columns_repeater"] .acf-field{
	padding: 20px 5px !important;
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-label{
	display: none;
}


.post-type-scm-sections div[data-name="columns_repeater"] .acf-input-table{
	border: 0 none !important;
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-table tbody{
	background-color: #FFF;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row,
.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td {
	width: 100%;
	display: inline-block;
	float: left;
	vertical-align: top !important;
	border: none !important;
	background-color: transparent;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td {
	
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td .acf-flexible-content .layout > .acf-input-table{
	border: 0 none !important;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td > div {
	border: none !important;
	padding: 15px 5px 5px 0px !important;
	z-index: 2;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td > div:first-child {
	margin-left: 40px;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td > div:hover {

}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td > div:last-child{
	border: #EEEEEE solid 1px !important;
	padding: 10px 10px !important;
}

.post-type-scm-sections div[data-name="columns_repeater"] tr.acf-row > td.order{
	margin-top: 12px;
	position: absolute;
	width: 24px !important;
	padding: 0 0 0 16px;
	height: 37px;
	line-height: 3em;
	text-align: left !important;
	z-index: 1;
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-input-table > tbody > tr > td.remove{
	width: 52px !important;
	position: absolute;
	float: left;
	display: inline-block;
	margin-left: -65px;
	margin-top: 19px;
	padding: 0px;
	background: transparent;
	border: none !important;
	z-index: 998;
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-input-table td.remove .acf-icon{
	position: static;
	display: inline-block;
	float: left;
	margin: 0px 5px 0px 0px !important;
	visibility: visible;
	opacity: 1;
	transition: none;
}

.acf-icon.acf-repeater-add-row,
.acf-icon.acf-fc-add{
	/*display: none !important;*/
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-input-table td.remove .acf-icon i{
	margin: 5px;
	position: static;
}

.post-type-scm-sections div[data-name="columns_repeater"] .acf-input-table td.remove .acf-icon i.acf-sprite-remove{
	margin: 8px 5px;
}











tr.acf-row.column-12 { width: 50% !important; }

tr.acf-row.column-13 { width: 33.33% !important; }

tr.acf-row.column-23 { width: 66.66% !important; }

tr.acf-row.column-14 { width: 25% !important; }

tr.acf-row.column-34 { width: 75% !important; }

tr.acf-row.column-15 { width: 20% !important; }

tr.acf-row.column-25 { width: 40% !important; }

tr.acf-row.column-35 { width: 60% !important; }

tr.acf-row.column-45 { width: 80% !important; }

tr.acf-row.column-16 { width: 16.66% !important; }

tr.acf-row.column-56 { width: 83.34% !important; }


.acf-flexible-content .layout[data-layout="column-12"] { max-width: 50%; }

.acf-flexible-content .layout[data-layout="column-13"] { max-width: 33.33%; }

.acf-flexible-content .layout[data-layout="column-23"] { max-width: 66.66%; }

.acf-flexible-content .layout[data-layout="column-14"] { max-width: 25%; }

.acf-flexible-content .layout[data-layout="column-34"] { max-width: 75%; }

.acf-flexible-content .layout[data-layout="column-15"] { max-width: 20%; }

.acf-flexible-content .layout[data-layout="column-25"] { max-width: 40%; }

.acf-flexible-content .layout[data-layout="column-35"] { max-width: 60%; }

.acf-flexible-content .layout[data-layout="column-45"] { max-width: 80%; }

.acf-flexible-content .layout[data-layout="column-16"] { max-width: 16.66%; }

.acf-flexible-content .layout[data-layout="column-56"] { max-width: 83.34%; }

.acf-flexible-content .layout[data-layout="column-17"] { max-width: 14.28%; }

.acf-flexible-content .layout[data-layout="column-18"] { max-width: 12.5%; }

.acf-flexible-content .layout[data-layout="column-19"] { max-width: 11.11%; }